@model TruVoyageDataOjectLayer.Vehicle

@{
    ViewData["Title"] = "UpdateVehicleMaintenanceStatus";
}

<h2>UpdateVehicleMaintenanceStatus</h2>

<h4>Vehicle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateVehicleMaintenanceStatus">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VIN" class="control-label"></label>
                <input asp-for="VIN" class="form-control" />
                <span asp-validation-for="VIN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Make" class="control-label"></label>
                <input asp-for="Make" class="form-control" />
                <span asp-validation-for="Make" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelYear" class="control-label"></label>
                <input asp-for="ModelYear" class="form-control" />
                <span asp-validation-for="ModelYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehicleTypeID" class="control-label"></label>
                <input asp-for="VehicleTypeID" class="form-control" />
                <span asp-validation-for="VehicleTypeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehicleClassID" class="control-label"></label>
                <input asp-for="VehicleClassID" class="form-control" />
                <span asp-validation-for="VehicleClassID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mileage" class="control-label"></label>
                <input asp-for="Mileage" class="form-control" />
                <span asp-validation-for="Mileage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EngineSize" class="control-label"></label>
                <input asp-for="EngineSize" class="form-control" />
                <span asp-validation-for="EngineSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassengerCapacity" class="control-label"></label>
                <input asp-for="PassengerCapacity" class="form-control" />
                <span asp-validation-for="PassengerCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Available" /> @Html.DisplayNameFor(model => model.Available)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="NeedsMaintenance" /> @Html.DisplayNameFor(model => model.NeedsMaintenance)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="LastMaintenance" class="control-label"></label>
                <input asp-for="LastMaintenance" type="date" class="form-control" />
                <span asp-validation-for="LastMaintenance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaintenacnePersonnelID" class="control-label"></label>
                <input asp-for="MaintenacnePersonnelID" class="form-control" />
                <span asp-validation-for="MaintenacnePersonnelID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PurchasePrice" class="control-label"></label>
                <input asp-for="PurchasePrice" class="form-control" />
                <span asp-validation-for="PurchasePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

